  body{
   background-color: black;
   color: white;
}
h3{
  font-family: "Josefin sans";
  font-size: 26px;
  align-items: center;
}


.bg-img {
    /* The image used */
    background-image: url("images/pexels-alexander-krivitskiy-1572878.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
.nav-item{
    padding: 0 20px;
}
/* bg content */
.bg-content{
  text-align:left;
  margin-top: 200px;
  margin-bottom: 200px;
  
}
.bg-title{
  font-size: 58px;
}
/* descriptiveContent */
.body-content1{
  background-color:  #161513;
  justify-content: center;
  text-align: center;
}
.descriptive-content{
  display: block;
  text-align: left;
  /* padding-top: 30px 30px; */
  margin: 200px;
 
}
/* mini-gallery */
.gallery-style.container{
  background-color: #161513;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  margin: 0px;
}
.gallery-pic-box{
  height: 150px;
  width: 100%;
  object-fit: cover;
}


.first-row{
 padding-bottom: 30px;
}
.second-row{
  padding-bottom: 30px;
}
.third-row{
  padding-bottom: 30px;
}

/* first-gallery */
.gallery1{
  display: flex;
  height: 600vh;
  
}

.gallery-container{
  display: flex;
  /* width: 250px;
  height: 200px; */
  width: 1000px;
  position: relative;
  padding: 0px 100px;
  padding-top: 20px;
  
}

.gallery-container2{
padding-top: 60px;
}

.gallery-container3{
  padding-top: 60px;
}

.gallery-image{
  height: 220px;
  width: 220px


}

.gallery-item{
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  grid-template-rows: 1fr;
}

.gallery-title{
  grid-column: span 3;
  align-items: center;
  justify-content: center;
}