  body{
   background-color: black;
   color: white;
}

.bg-img {
    /* The image used */
    background-image: url("images/pexels-alexander-krivitskiy-1572878.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
.nav-item{
    padding: 0 20px;
}
/* bg content */
.bg-content{
  text-align:left;
  margin-top: 200px;
  margin-bottom: 200px;
  
}
.bg-title{
  font-size: 58px;
}
/* descriptiveContent */
.body-content{
  background-color:  #161513;
}
.descriptive-content{
  display: block;
  text-align: left;
  /* padding-top: 30px 30px; */
  margin: 200px;
 
}
/* mini-gallery */
.gallery-style.container{
  background-color: #161513;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
  margin: 0px;
}
.gallery-pic-box{
  height: 150px;
  width: 100%;
  object-fit: cover;
}


.first-row{
 padding-bottom: 30px;
}
.second-row{
  padding-bottom: 30px;
}
.third-row{
  padding-bottom: 30px;
}